<div *ngIf="!showOtpWithTimer">
  <form [formGroup]="userIdForm">
    <div class="form-group">
      <label class="center-block"
        >UserId:
        <input
          class="form-control"
          formControlName="userId"
          class="user-id-input"
          type="text"
          placeholder="Please input a value to start OTP generation"
        />
      </label>
    </div>

    <div
      *ngIf="
        userIdForm.controls['userId'].invalid &&
        userIdForm.controls['userId'].touched
      "
      class="alert alert-danger"
    >
      <div *ngIf="userIdForm.controls['userId'].errors?.required ?? ''">
        Name is required.
      </div>
    </div>

    <button type="button" (click)="startGeneration()">
      Start OTP generation
    </button>
  </form>
</div>

<div *ngIf="showOtpWithTimer">
  <h1>{{ otp.otp }}</h1>
  <countdown #cd [config]="config" (event)="handleEvent($event)"></countdown>
</div>
